<form role="form" action="" method="get">
    <div class="row setup-content" style="text-align: center" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
                <h3>confirmation - page</h3>
                <p style="background-color: #cccccc">{{message.name}} {{message.lastName}}({{message.phone}}) </br> will depart for {{messages.country}}
                    </br>
                    on{{messages.departDate}} and return on  {{messages.returnDate}}
                </p>


                <h3>Thank you for using our site!!!!!</h3>

                <button class="btn btn-success btn-lg pull-right"  ng-click="submit()">Send Mail</button>
            </div>
        </div>
    </div>
</form>


